<div class="container">
  <h1>PhoneBook Form</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div id="item-data">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name" required ngModel name="Name">
    </div>
    <div class="form-group">
      <label for="Phone">Phone Number</label>
      <input type="text" class="form-control" id="Phone" required ngModel name="Phone">
    </div>
    <div class="form-group">
      <label for="relate">Relation</label>
      <select type="text" class="form-control" id="relate" required ngModel name="relate">
        <option value="friend">Friend</option>
        <option value="family">Family</option>
        <option value="work">Work</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!f.valid">Submit</button>
    </div>
  </form>
</div>
<ul *ngIf="contacts">
    <li *ngFor="let contact of contacts"><b>Name:</b> {{contact.name}} <b>Phone Number:</b>
      {{contact.phone}} <b>Relation:</b> {{contact.relate}}
    <button (click)="onDelete(contact.name)">DELETE</button> </li>
</ul>
